div.song-menu.hidden-xs
  p.ep-title
    | EP "A Struggle Makes Sense"
  div.song-menu-items
    p
      a(href="#struggle") 01. A Struggle Song
    p
      a(href="#all-falls") 02. All Falls Aside
    p
      a(href="#intrusion") 03. Intrusion
    p
      a(href="#repentance") 04. The Repentance
