extends layout

block content
  div.about(style="text-align: justify;")
    p
      | I founded "Light Of Disaster" as a project in October 2008, shortly after my current band at that time fell apart.
      | I chose 4 songs from the ones that I wrote for the band and recorded an instrumental demo, "A Struggle Makes Sense," myself.
      | I had a clear idea of what exactly I wanted to play, but I could not find the right people to create an actual band to play my music.
      | So, I began playing in different bands with different musicians. The demo was put aside.
    p
      | While playing with other bands, I was writing a lot. There were pieces and songs that I didn't want to bring to rehearsals.
      | I didn't want to have them modified or changed in any way, because I felt like what I was doing with that material was right.
      | Such music was made under the name, "Light Of Disaster." Later on, I realized that I didn't want to make a career in my home country, so I wasn't looking for musicians for my own music anymore - just played in bands for pleasure and experience, but nothing serious.
      | LOD was my main songwriting outcome. However, I never recorded my music because I wasn't sure what I wanted to do with it - create a band, or incorporate it somewhere.
      | I was just doing what I enjoyed doing - writing music.
    p
      | I moved to the US in the summer of 2011. By that time, I already had written a full length album, "The Suspended State" (2010), and I started writing the next album - "Seas Of Self Destruction" (2012).
      | The first year and a half living in the US was really hard for me. I was all by myself in New York City - no family, no friends, no time, working 60-70 hours a week and also dealing with some personal issues.
      | So I couldn't find the right motivation and strength to look for musicians or just to record my material.
      | At one point in early 2013, I decided to start recording my music, but in fact, all I was doing was just playing around with existing songs, modifying drums, solos and lyrics etc.
      | That kind of guitarpro pre-production which I called "The Ultimate Sessions", didn't last long… I was distracted by the new material that I wrote and ideas that were coming to me.
      | I already was thinking about the next album and that idea took over me. I couldn't resist it and started working on the 4th album, "Transform" (2013).
    p
      | That was the moment when I decided to move to Los Angeles.
      | I needed changes, I was really stuck in the routine and infinite struggles of the life of a typical loner-immigrant.
      | So that was the best decision at that time. Once I set myself up in a new city, I started actively looking for musicians to work with - tried myself in different bands, tried to form a band, tried to incorporate somebody into LOD. Nothing worked.
      | I won't go into the details, I'll just say that it was ridiculous. Along with time and money which I didn't have, I also didn't have a decent quality demo to show. I got confused and very upset.
      | I felt like I wasted a lot of time. I had to find a way…
    p
      | Looking back at all the material that I have (with LOD only - 4 albums, 38 songs), I made a decision to start recording and releasing all my LOD albums, starting with the first demo - one by one, doing everything myself (until I find somebody) - recording, mixing, producing and promoting. I have just recorded "A Struggle Makes Sense", the very first demo, composed more than 6 years ago. The recording process was a hustle. I set myself a deadline because otherwise it could take forever, considering the fact that I had just bought equipment, and just started learning sound recording and editing. But I made a commitment that each new album will be better recorded and mixed then the previous one. With newer equipment, skills, ideas, experiments and approach. Right now all my thoughts and energy are directed onto the production. The next LOD album "The Suspended State" is coming soon
    p
      | I don't put any limitations on myself and my music. I'm open to ideas and collaborations.
      | For now that I don't have any other active projects, I will keep producing albums one by one
      | and looking for other musicians to work with and help each other in any way.
      | If you have any comments or questions, or if you are a skilled musician and would like to work with me, please contact me at lightofdisaster@yahoo.com

    div
      p I'm located in LA
      p Follow me on social media for an updates.
      br
      p Thanks,
        br
      p Max Faden
      p November 2014
