extends layout

block content
  div.row.album-images
    div.albums.hidden-xs
      div#album-1.album
        div.album-content
      div#album-2.album
        div.album-content
          span.coming-soon coming soon...
  div.row.buttons.hidden-sm.hidden-xs
    div.album-1
      div.button.first.download(data-link="/download/album/struggle-makes-sense")
      div.button.buy(data-link="#")
    div.album-2
      div.button.first.download(data-link="#")
      div.button.buy(data-link="#")

  script.
    //download links
    var struggleMakesSenseDownloadButton = document.querySelectorAll('.album-1 .button.first.download');
    var buttonRow = document.querySelector('div.row.buttons');

    buttonRow.onclick = function (evt) {
      var targetElement = evt.target;
      var downloadLink = targetElement.getAttribute('data-link');
      console.log('download link: ', downloadLink);
      window.location.href = downloadLink;
      //alert('clicked');
    };
