extends layout

block content
  div.row.album-images
    div.albums
      div#album-1.album
        div.album-content
      div#album-2.album
        div.album-content
          span.coming-soon coming soon...
  div.row.buttons.hidden-sm.hidden-xs
    div.album-1
      div.button.first.download(data-link="#")
      div.button.buy(data-link="#")
    div.album-2
      div.button.first.download(data-link="#")
      div.button.buy(data-link="#")
