extends layout
block content
  include partials/song-menu
  div
    include lyrics/a-struggle-makes-sense/struggle-song
  div
    include lyrics/a-struggle-makes-sense/all-falls-aside
  div
    include lyrics/a-struggle-makes-sense/intrusion
  div
    include lyrics/a-struggle-makes-sense/repentance
