@import 'variables'
@import 'mixins'

.album-images
  margin-top: 20px

.album
  .album-content
    +respond-to(large)
      width: $album-large
      height: $album-large
    +respond-to(medium)
      width: $album-medium
      height: $album-medium
    +respond-to(small)
      width: $album-small
      height: $album-small
    +respond-to(xs)
      width: $album-xs
      height: $album-xs
      display: block
      float: right
  vertical-align: middle
  display: inline-block
  border: 3px solid $text-color



#album-1
  .album-content
    background: url("../images/album1.png")

#album-2
  position: relative
  margin-left: $left-album-margin

  .album-content
    &:after
      content: ""
      background: url("../images/album2.png")
      opacity: 0.80
      top: 0
      left: 0
      bottom: 0
      right: 0
      position: absolute
      z-index: -1

    .coming-soon
      font-weight: bold
      color: #97a9b2
      width: 100%
      text-align: center
      display: inline-block
      +respond-to(large)
        font-size: 36px
        line-height: $album-large
      +respond-to(medium)
        font-size: 28px
        line-height: $album-medium
      +respond-to(small)
        font-size: 18px
        line-height: $album-small
      +respond-to(xs)
        font-size: 14px
        line-height: $album-xs
