@import 'variables'
@import 'mixins'

.album-images
  margin-top: 20px

.album
  .album-content
    width: 430px
    height: 430px
  display: inline-block
  border: 3px solid $text-color



#album-1
  .album-content
    background: url("../images/album1.png")

#album-2
  position: relative
  +respond-to(small)
    margin-left: 0
  +respond-to(large)
    margin-left: 105px

  .album-content
    &:after
      content: ""
      background: url("../images/album2.png")
      opacity: 0.80
      top: 0
      left: 0
      bottom: 0
      right: 0
      position: absolute
      z-index: -1

    .coming-soon
      font-size: 36px
      font-weight: bold
      color: #97a9b2
      width: 100%
      line-height: 430px
      text-align: center
      display: inline-block



