$buy-button-margin-left: 60px
div.buttons
  margin-top: 35px
  padding-left: 470px

div.album-2
  display: inline-block
  margin-left: 215px

.button
  display: inline-block
  background-position: 0 0
  background-repeat: no-repeat
  &.first
    margin-left: 140px

.button.buy
  margin-left: $buy-button-margin-left
  background-image: url("../images/buy.png")
  width: 66px
  height: 48px
  &:hover
    background-position: -66px 0

.button.download
  background-image: url("../images/download.png")
  width: 49px
  height: 47px
  &:hover
    background-position: -49px 0
