@import 'variables'
@import 'mixins'
@import "compass/utilities/sprites"
@import "../images/buy/*.png"
@import "../images/download/*.png"

div.buttons
  margin-top: 36px

  +respond-to(small)
    padding-left: 0

  +respond-to(medium)
    padding-left: $left-content-margin-medium

  +respond-to(large)
    padding-left: $left-content-margin-large

div.album-2
  display: inline-block
  +respond-to(large)
    margin-left: 215px
  +respond-to(medium)
    margin-left: 110px

.button
  display: inline-block
  &.first
    margin-left: 140px


.button
  margin-left: $buy-button-margin-left
  width: 66px
  height: 48px
  @include buy-sprite(buy)

  &:hover
    @include buy-sprite(buy_hover)

.button.download
  @include download-sprite(download)
  width: 49px
  height: 47px
  &:hover
    @include download-sprite(download_hover)
