@import 'variables'
@import 'mixins'
@import "compass/utilities/sprites"
@import "../images/buy/*.png"
@import "../images/download/*.png"

div.buttons
  margin-top: 25px

.album-2, .album-1
  display: inline-block
  +respond-to(large)
    width: $album-large
  +respond-to(medium)
    width: $album-medium
  +respond-to(small)
    width: $album-small
  +respond-to(xs)
    width: $album-xs


div.album-1

div.album-2
  float: right

.button
  display: inline-block

  &:hover
    cursor: pointer
  &.first
    margin-left: 135px

.button.buy
  margin-left: $buy-button-margin-left
  width: 68px
  height: 50px
  @include buy-sprite(buy)

  &:hover
    @include buy-sprite(buy_hover)

.button.download
  width: 50px
  height: 51px
  @include download-sprite(download)

  &:hover
    @include download-sprite(download_hover)
