//Actually this approach is bad, but I must do this site fast
@import "compass/reset"
@import "compass/css3"
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap"
@import 'variables'
@import 'mixins'
@import 'margins'
@import 'fonts'
@import 'menu'
@import 'buttons'
@import 'albums'
@import 'songs'
@import 'about'
@include font-face("RusWolfenstein Regular", font-files("wolf/ruswolfenstein_regular-webfont.woff2", "wolf/ruswolfenstein_regular-webfont.woff", "wolf/ruswolfenstein_regular-webfont.eot", "wolf/ruswolfenstein_regular-webfont.ttf", "wolf/ruswolfenstein_regular-webfont.svg"))

*
  //font-family: 'Myriad Pro Regular'
  font-size: 16px

.debug
  color: white

body
  background: #000000 url("../images/background.png") no-repeat top center

div.content
  font-family: 'Myriad Pro Regular'
  color: #fafafa
  max-width: 960px

.inner-container
  max-width: 960px
  margin-top: 20px
  +respond-to(medium)
    background-position-x: -445px
  +respond-to(small)
    background-position-x: -805px

#logo
  background-image: url("../images/Logo.png")
  background-size: contain
  background-repeat: no-repeat
  +respond-to(large)
    width: $logo-large-width
    height: $logo-large-height
  +respond-to(medium)
    width: $logo-large-width - 100px
    height: $logo-large-height - 100px
  +respond-to(small)
    width: $logo-large-width - 200px
    height: $logo-large-height - 200px
  +respond-to(xs)
    width: $logo-large-width - 300px
    height: $logo-large-height - 300px
  cursor: pointer

.inner-container
  +respond-to(small)
    margin-left: 0

  +respond-to(medium)
    margin-left: $left-content-margin-medium

  +respond-to(large)
    margin-left: $left-content-margin-large
