//Actually this approach is bad, but I must do this site fast
@import "compass/reset"
@import "compass/css3"
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap"
@import 'variables'
@import 'mixins'
@import 'margins'
@import 'fonts'
@import 'menu'
@import 'buttons'
@import 'albums'
@import 'songs'
@import 'about'
@include font-face("RusWolfenstein Regular", font-files("wolf/ruswolfenstein_regular-webfont.woff2", "wolf/ruswolfenstein_regular-webfont.woff", "wolf/ruswolfenstein_regular-webfont.eot", "wolf/ruswolfenstein_regular-webfont.ttf", "wolf/ruswolfenstein_regular-webfont.svg"))

*
  //font-family: 'Myriad Pro Regular'
  font-size: 16px

.debug
  color: white

body
  background: #000000 url("../images/background2.png") no-repeat top center
  background-position-x: 60%
//+respond-to(large)
//  background-size: 100%
//+respond-to(medium)
//  background-size: 90%
//+respond-to(small)
//  background-size: 60%
//+respond-to(xs)
//  background-size: 20%

div.content
  font-family: 'Myriad Pro Regular'
  color: #fafafa

.inner-container
  width: 960px
  margin: 0 auto
  +respond-to(large)
  +respond-to(medium)
  +respond-to(small)
  +respond-to(xs)

#logo
  background-image: url("../images/Logo.png")
  background-size: contain
  background-repeat: no-repeat
  +respond-to(large)
    width: $logo-large-width
    height: $logo-large-height
  +respond-to(medium)
    width: $logo-large-width - 100px
    height: $logo-large-height - 100px
  +respond-to(small)
    width: $logo-large-width - 200px
    height: $logo-large-height - 200px
  +respond-to(xs)
    width: $logo-large-width - 300px
    height: $logo-large-height - 300px
  cursor: pointer
