@import "variables"
@import "mixins"
div.menu
  display: table
  font-family: "RusWolfenstein Regular"
  margin-top: 52px
  +respond-to(small)
    margin-top: 5px

div.menu-container
  display: table-row

div.menu-container > span
  display: table-cell
  padding: 0 15px 0 15px
  line-height: 28pt
  font-size: 28pt
  text-transform: uppercase
  text-align: center
  position: relative

  +respond-to(small)
    padding: 3px 0
    display: block
    font-size: 20pt

  &:after
    content: ""
    vertical-align: baseline
    position: absolute
    right: -1px
    display: block
    width: 3px
    height: 69%
    top: 21%
    border-radius: 10px 10px 10px 10px
    background: $text-color
    +respond-to(small)
      display: none

  &.last
    &:after
      display: none

  a
    text-decoration: none
    color: $text-color
  a:hover
    color: #ffffff
    cursor: pointer
