@import 'mixins'
div.song
  margin-top: 20px
  display: inline-block
  position: relative
  +respond-to(xs)
    left: 0
  +respond-to(large)
    left: 40%
  +respond-to(medium)
    left: 40%
  +respond-to(small)
    left: 20%

  .title
    text-align: center
    font-size: 16px


div.song-menu
  margin-top: 20px
  position: fixed
  a
    text-decoration: none
