div#all-falls.song(style='white-space:pre;')
  p.title 02. All Falls Aside
  p.part
    | You've seen it
    | You've been here just before
    | You've been here nearly thousand times or more

  p.part
    | Confusion each time is getting worse
    | Breaking the silence into words

  p.part
    | That lurk inside
    | Thoughts
    | That are destined to create

  p.part
    | Did you lose? Did you win?
    | Was it fair? You should feel
    | I can't be silent referee
    | Cause there's no truth when all falls aside

  p.part
    | Don't you see the bridge is burnt
    | On the other side no one will ever know

  p.part
    | Affection
    | Of unseen reality
    | Will shatter all your dreads and your beliefs

  p.part
    | Collect it
    | Their wreckage in your mind
    | And sculpt the world you'd like to live in

  p.part
    | Without a lie
    | False
    | Unable to exist

  p.part
    | Did you lose? Did you win?
    | Was it fair? You should feel
    | I can't be silent referee
    | Cause there's no truth when all falls aside

  p.part
    | Don't you see the bridge is burnt
    | On the other side no one will ever know
