div.song(style='white-space:pre;')
  p.title 03. Intrusion
  p.part
    | Carefree falling
    | Into the silent distress
    | Where is my divine insight
    | I'm trapped in the errant dismay
    | Of my own chaos

  p.part
    | Retracing steps form unseen to unknown
    | Drowning in questions oppressed by the weight of deception
    | No sacred knowledge can ever breake the walls
    | Of their rigid answers
    | Is darkness all that i ever can find
    | Or am i just blind

  p.part
    | Here comes the sight
    | Intrusion of light
    | We're out of time

  p.part
    | Can you see the spark
    | Salvage in the dark
    | Will it fix our broken eyes
    | Heaven will rise
    | Through the darkest times
    | Hopelessness won't reach our inspiration

  p.part
    | Torn wings, dead clouds
    | What else can they do to us
    | They cannot discharge, disarm
    | Eager and powerful minds
    | Yet we are voiceless strayers

  p.part
    | I don't remember when did it begin
    | The revelation of spurious Nothing
    | If there's a God we don't have to believe
    | Knowledge is power when all known comes crushing down
    | No end in tunnel
    | Tunnel, endlessly dark

  p.part
    | Intrusion of light
    | We're out of time

  p.part
    | Can you see the spark
    | Salvage in the dark
    | Will it fix our broken eyes
    | Heaven will rise
    | Through the darkest times
    | Hopelessness won't reach our inspiration heights

  p.part
    | We need to follow our inner guides

  p.part
    | Intrusion of light
    | We're out of time
  p.part
    | Can you see the spark
    | Salvage in the dark
    | Will it fix our broken eyes
    | Heaven will rise
    | Through the darkest times
    | Hopelessness won't reach our inspiration heights
