div#repentence.song(style='white-space:pre;')
  p.title 04. The Repentence
  p.part
    | It felt so real
    | That fearful dream
    | My frightened eyes were drowning in tears

  p.part
    | That horrid smell of an opiate hell
    | Reverted dreads and unending despair
  p.part
    | Woeful man, remorse, regret
    | The only thing that is left is the dope
  p.part
    | No hope, no fucking hope,
    | Nowhere to go, I am dead to the world

  p.part
    | Cries
    | Nightmares have filled my eyes
    | Lies
    | have poisoned my consciousness
    | Pain
    | So hateful so cruel so sly
    | I
    | Will never be sober again

  p.part
    | I'm thrown into disaster
    | With no chance to escape from this maze

  p.part
    | And yet again I try to end this
    | Though I know that I already failed

  p.part
    | Take me away tie my hands to the faith
    | And kill that cursed memories

  p.part
    | I see demise right in front of my eyes
    | It's gone too far I will never survive
