div#struggle.song(style='white-space:pre;')
  p.ep-title
    | EP "A Struggle Makes Sense"
  p.title 01. A Struggle Song
  p.part
    | I'm here to fight so feel my hatred
    | I don't deny and won't regret it
    | Now nothing's holding me back
    | And I am ready to attack these vacant skies
    | just to take what's mine
  p.part
    | My mind was blown and lacerated
    | But now I'm strong and recreated
    | Now I'm free, I'm found, but still I know
    | My demons are always around, unbound
  p.part
    | I'm so sick of it all, emotions control me
    | I can't resist desire,
    | Wings of the fire will not get me higher
    | Liar, liar, liar, I do behold, it's my denial
    | And I defy deceiver, I'm not the believer
    | I'll fight with my demons
    | Cause struggle, struggle, struggle
    | It is my only freedom
  p.part
    | I'm here to fight and here's my credo
    | I don't know what's right but know what's evil
    | Now I am starting this game
    | After years of the suffering, pain and despair
    | Hear me now
  p.part
    | I need no faith, I have understanding
    | I have survived, and I'm ascending
    | Now my Spirit is armed, but still I know
    | My demons are always around, unbound
  p.part
    | You'll distract me
    | And then will tempt me
    | Freewill eater
  p.part
    | You'll affect me
    | And then reject me
    | Morbid feeder
  p.part
    | You'll adore me
    | And then ignore me
    | Frigid liar
  p.part
    | You'll embrace me
    | And then disgrace me
    | My desire
    | A fire that burns inside
    | A mental fraud, fucking parasite
