doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Dyno
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="scripts/app.js")
  body.container-fluid
    span.visible-xs.debug
      | SIZE XS
    span.visible-sm.debug
      | SIZE SM
    span.visible-md.debug
      | SIZE MD
    span.visible-lg.debug
      | SIZE LG

    div.row
      div#logo.col-md-offset-1.col-lg-offset-2.col-xs-offset-0
    div.row.margin-top-70
      div#album-1.album.col-md-offset-1.col-lg-offset-2.col-xs-offset-0
      div#album-2.album
        span.coming-soon coming soon...
    div.row
      div.album-button
      div.album-button
    div.row
      div#footer.menu.col-md-10.col-md-offset-2.col-xs-offset-1.col-xs-9
        span.first
          a(href="#") About
        span
          a(href="#") Lyrics
        span
          a(href="#") Facebook
        span.hidden-xs
          a(href="#") Vk
        span.hidden-xs.hidden-sm
          a(href="#") Soundclound
        span.hidden-xs.hidden-sm
          a(href="#") Bandcamp
        span.hidden-xs.hidden-sm
          a(href="#") Reverbnation
        span.hidden-xs
          a(href="#") Youtube
        span.hidden-xs.hidden-sm
          a(href="#") Twitter


  //- Google Analytics: change UA-XXXXX-X to be your site's ID.
  //-
      script
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
